<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="Coordenador/Diretor">
            <h2>Coordenador/Diretor</h2>
            <p>Preencha seus dados abaixo para acessar o sistema.</p>

            <form>  <!-- Nome e senha para login -->
                <label for="nomeCoordenador/Diretor">Nome do Coordenador/Diretor:</label>
                <input type="text" id="nomeCoordenador/Diretor" name="nomeCoordenador/Diretor">
                <br><br>
                <label for="Password">Password:</label>
                <input type="password" id="password" name="Password">
                <!-- Botão para entrar -->
                <button type="submit">Entrar</button>
                <br><br>
            <!-- Botão de voltar -->
            <a href="../index.html">
                <button type="button">Voltar </button>
            </a>
            </form>
        </section>
</body>
</html>