<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>TestPim</title>
</head>
<body>
    <header>
        <h1>Bem-vindo ao Sistema Acadêmico</h1>
    </header>

    <main>
        <h2>Olá, Sentimos sua falta.</h2>
        <br><br>
        <p>Selecione abaixo o perfil que deseja acessar:</p>

         <ul>
            <li><a href="{{ url_for('login_aluno_page') }}">🧑🏼‍🎓 Sou Aluno</a></li>
            <li><a href="{{ url_for('login_professor_page') }}">👨🏾‍🏫 Sou Professor</a></li>
            <li><a href="{{ url_for('login_diretor_page') }}">👨🏻‍💼 Coordenação </a></li>
        </ul>
    </main>
    
</body>
</html>